@model IEnumerable<DotNet6MVCWebApp.Models.Book>


<table class="table table table-bordered">
    <thead>
        <tr>
            <th>Book Id
            <th>Title
            <th>Description
            <th>Author Name
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>@item.Description</td>
             
                <td>@item.Author?.Name</td>
            </tr>
        }
    </tbody>
</table>