@model DotNet6MVCWebApp.Controllers.Template

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href='https://fonts.googleapis.com/css?family=Nunito+Sans' rel='stylesheet' />
  <style>
      :root{
            --key-primary: @Model.PrimaryColour;
      }
  </style>
</head>
<body>
    <h1 style="color:@Model.PrimaryColour">Test CSS</h1>
</body>
</html>