@model DotNet6MVCWebApp.Models.TaxViewModel

@{
    ViewData["Title"] = "Tax";
}

<h1>Tax</h1>

<form asp-action="NewTaxes" asp-controller="Home" method="post" autocomplete="off">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Tax Name</label>
            <input type="text" asp-for="@Model.Tax.TaxName" class="form-control" id="TaxName" placeholder="Tax Name" />
            <span class="text-danger" asp-validation-for="@Model.Tax.TaxName"></span>
        </div>
        <br />
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">CREATE</button>
            </div>
        </div>
    </div>

</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
