
@{
    ViewData["Title"] = "IndexAnother";
}

<h1>IndexAnother</h1>

<form method="get" asp-action="DoSomething" asp-controller="Home">
           <input id=""Save"" type="submit"submit"" value="Save">
</form>

@*https://stackoverflow.com/questions/71322718/model-binding-viewmodel-binding-in-asp-net-core-mvc*@