@page
@model RazorPageDemoApp.Pages.AddUserModel




<div class="form-group">
    <label asp-for="@Model.userModel.Branches" class="control-label"></label>
    <select class="form-control" name="iBranchCode" asp-items="ViewBag.Branches"></select>
    <span asp-validation-for="@Model.userModel.Branches" class="text-danger"></span>
</div>

<select class="form-control" asp-items="ViewBag.Branches"></select>