@page 
@model RazorPageDemoApp.Pages.LoginModel
@{
}
<form method="post">
    <input type="text" name="userNmae" class="form-control" placeholder="User Name" />
    <input type="password" name="passwword" class="form-control" placeholder="enter password" />
    <input type="submit" class="btn btn-success" name="Login" />
</form>