@page
@model RazorPageDemoApp.Pages.UploadPageHandlerModel
@{
}

@*<form method="post" class="col-sm-6" asp-page-handler="Upload" enctype="multipart/form-data">
    <div class="form-group row">
        <label asp-for="uploadedFile" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-7">
            <input asp-for="uploadedFile"  type="file" name="uploadedFile" accept="image/*" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-7 offset-sm-3">
            <button class="btn btn-primary" onclick="this.form.submit();">Submit</button>
        </div>
    </div>
</form>
*@


<form method="post" class="col-sm-6" asp-page-handler="Upload" >
    <div class="form-group row">
        <label asp-for="uploadedFile" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-7">
            <input asp-for="uploadedFile" name="uploadedFile" type="file" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-7 offset-sm-3">
            <button  class="btn btn-primary" id="submit">Submit</button>
        </div>
    </div>
</form>





@section Scripts
    {
    <script>

        document.getElementById('submit').addEventListener("click", (evt) => {
            evt.preventDefault();

            async function upload(formData) {
                try {
                    const response = await fetch("http://localhost:5062/UploadPageHandler?handler=Upload", {
                        headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                        method: "POST",
                        body: formData,
                    });
                    const result = await response.json();
                    console.log("Success:", result);
                } catch (error) {
                    console.error("Error:", error);
                }
            }

            const formData = new FormData();
            const fileField = document.querySelector('input[type="file"]');


            formData.append("uploadedFile", fileField.files[0]);

            upload(formData);
        });
        
    </script>
}