<form method="post" asp-controller="DynamicFromSubmit" asp-action="Create">
    <div class="inputDates">
        <i><img src="~/css/MyReservation/images/calendar-309.png" /></i>
        <input type="text" name="startDate" placeholder="from" runat="server" />
    </div>
    <div class="inputDates">
        <i><img src="~/css/MyReservation/images/calendar-309.png" /></i>
        <input type="text" name="endDate" placeholder="to" runat="server" />
    </div>
    <input type="submit" value="search" />
</form>