@model DotNet6MVCWebApp.Controllers.CreateAppointmentRequest


<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Date" class="col-md-2 form-label"></label>

        <input asp-for="Date" id="Date" name="Date" type="date" class="col-md-6 form-control" />
        <span asp-validation-for="Date" class="form-span-error"></span>
    </div>

    <div class="form-group">
        <label asp-for="Time" class="col-md-2 form-label"></label>
        <input asp-for="Time" id="Time" name="Time" type="time" class="col-md-6 form-control" />
        <span asp-validation-for="Time" class="form-span-error"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Book Appointment" class="btn btn-primary" />
    </div>
</form>