<div class="container">
    <div class="row">
        <div class="col">Left column</div>
        <div class="col">Middle column</div>
        <div class="col">Right column</div>
    </div>
</div>

@{
    var env = Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT");
    if (env == "Development")
    {

    @section Scripts{

    <script type="text/javascript">
                alert('@env')
                $(".col").css({ "border": "Solid red 2px" });
    </script>

    }
    }

}