@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<a asp-controller="QueyString" asp-action="VerifiedAll" asp-route-id="@Context.Request.QueryString.Value"
   class="btn btn-info">Verified All</a>