

<div class="row">
    <div class="col-5">

        <form method="post" enctype="multipart/form-data" asp-controller="Application" asp-action="ExportToExcel">


            <div class="form-group">
                <div class="col-md-10">

                    <input class="btn btn-primary" type="submit" value="Export File" />

                </div>
            </div>
        </form>


    </div>
</div>
<a class="nav-link active" href="javascript:void(0);" asp-controller="Home" asp-action="Profile"><i class="bx bx-user me-1"></i> Profile</a>
@*<a class="nav-link active" asp-controller="Animal" asp-action="MemberList"><i class="bx bx-user me-1"></i> Profile</a>
<a class="nav-link active" href="/Todo/IndexUserList"><i class="bx bx-user me-1"></i> Go To List</a>*@