@model DotNet6MVCWebApp.ViewModel.NewMemberViewModel
<form asp-action="Edit" method="post" enctype="multipart/form-data">
     <div asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="Member.MemberId" />
    <div class="row">
         <div class="form-group col-md-4">
            <label class="col-md-2 control-label">Member Name</label>
            <div class="col-md-10">
                
                <div id="chooseFile">
                  <input asp-for="Member.Name" class="form-control" placeholder="Enter member name" /><span asp-validation-for="Member.Name"></span>
                </div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label class="col-md-2 control-label">MemberPicture</label>
            <div class="col-md-10">
                <img src="~/ImageName/Cover/@Model.Member.ImageName"
                     class="rounded-square"
                     height="50" width="75"
                     style="border:1px"
                     asp-append-version="true" accept="image/*" />
                <span><a href="@Model.Member.ImageName">@Model.Member.ImageName</a></span>
                <div id="chooseFile">
                    <input class="form-control" type="file" name="photo" accept="image/*" />
                </div>
            </div>
        </div>
       
       <div>
            <button type="submit" class="btn btn-primary" style="width:107px">Update</button>
           @Html.ActionLink("Back To List", "Index", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-success" })
       </div>
    </div>


    </form>
