@model LoginViewModel

<h1 class="text-info">Log in</h1>
<div class="row">
    <div class="col-md-8">
        <form asp-controller="Login" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form">
            <h4>Use a local account to log in</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Password" class="col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-check mt-3">
                <input class="form-check-input" asp-for="RememberMe" type="checkbox" value="" id="flexCheckChecked">
                <label class="form-check-label" asp-for="RememberMe" for="flexCheckChecked">
                    Remember me?
                </label>
            </div>
            <div class="form-group">
                <div class=" col-1 my-3">
                    <button type="submit" class="btn btn-success form-control">Login</button>
                </div>
            </div>
            <p>
                <a asp-action="Register">Register as a new user?</a>
            </p>
            <p>
                <a asp-action="ForgotPassword">Forgot your passord?</a>
            </p>
        </form>
    </div>
</div>
 @section scripts {
    <script>
        $(document).ready(function () {
            var data = '@ViewData["ReturnUrl"]'
            alert(data);
        });
    </script>
    }