@using Azure.Core
@model Category

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post" asp-controller="JsonDropDown" asp-action="SelectTagGetValue">
    <div>

        <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
        <label asp-for="CategoryId"></label>
        <select asp-for="CategoryId"
                class="form-control"
                asp-items="@(new SelectList(Enumerable.Empty<SelectListItem>(),"Value", "Text"))">
        </select>


    </div>
     <input type="submit" class="btn btn-success" value="Submit" />
</form>

@section scripts {
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {

        $.ajax({
            type: "GET",
            url: "/JsonDropDown/Index",
            success: function (data) {
                console.log(data);
                $.each(data, function () {
                    $("#CategoryId").append($("<option></option>").val(this['Value']).html(this['Text']));

                });

            }
        });

    });
</script>
        }




