@model DotNet6MVCWebApp.Controllers.Solicitud

<div class="row">
    <div>
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <h3>I. Información de la solicitud</h3>
                <hr />
            </div>
            <div class="form-group">
                <label asp-for="Identificacion" class="control-label"></label>
                <input asp-for="Identificacion" id="Identificacion" class="form-control" />
                <!--Here I want to add the event to autofill the fields-->
                <span asp-validation-for="Identificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

@section scripts {
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <script>
        $(document).ready(function () {

            $("#Identificacion").change(function () {
                alert("Click");
                var identificacion = $("#Identificacion").val()
                $.ajax({
                    url: 'http://localhost:5094/AutoFill/SearchStudent',
                    type: 'GET',
                    dataType: 'json',
                    data: { identificacion: identificacion },
                    success: function (response) {
                        console.log(response);
                        $("#Nombre").val(response.nombre);
                        $("#Apellido").val(response.apellido);
                    },
                    error: function () {
                        alert('Error!');
                    }
                });


            });

        });
    </script>
}
