@model DotNet6MVCWebApp.Controllers.CascadingModel

<form asp-controller="Stuff" method="post" asp-action="Save">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StaffId" class="control-label"></label>
                <input asp-for="StaffId" class="form-control" />
                <span asp-validation-for="StaffId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaffName" class="control-label"></label>
                <input asp-for="StaffName" class="form-control" />
                <span asp-validation-for="StaffName" class="text-danger"></span>
            </div>

          @*  <div class="form-group">
                <label asp-for="CountryId" class="control-label"></label>
                <select id="ddlCountries" name="CountryName" asp-for="CountryId" asp-items="Model.Countries" class="form-control">
                    <option value="">--Please select--</option>
                </select>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>*@
        @*    <div class="form-group">
                <label asp-for="StateId" class="control-label"></label>
                <select id="ddlStates" name="StateName" asp-for="StateId" asp-items="Model.States" class="form-control">
                    <option value="">--Please select--</option>
                </select>
                <span asp-validation-for="StateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityId" class="control-label"></label>
                <select id="ddlCities" name="CityName" asp-for="CityId" asp-items="Model.Cities" class="form-control">
                    <option value="">--Please select--</option>
                </select>
                <span asp-validation-for="CityId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <button type="submit" asp-action="Save" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</form>