@model Dictionary<string, object>
<h1>Dynamic Data</h1>
<table class="table">
    @foreach (var key in Model.Keys)
    {
        <tbody>

            <tr>
                <th>
                    @key
                </th>
                <td>
                    @Model[key]
                </td>
            </tr>

        </tbody>
    }
</table>
